<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings file="overrides.config">
		<!--User sets the desired browser to use for testing, defaults to Chrome browser but can also be set to 'IE' for Internet Explorer.-->
		<add key = "desiredBrowser" value="chrome"/>
		
		<!--URL for single test case, useful for local site testing. -->
		<add key = "singleTestCaseURL" value="http://www.google.com" />
	</appSettings>
</configuration>
